/*Importing the font library used for the website*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Ensures elements aren't made bigger with padding and borders*/
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
  box-sizing: inherit;
}

/*Ensures that the body of the page can't be wider than the viewport, hence no horizontal scrolling
and also sets the font to Raleway, as instructed in the brief*/
body{
  max-width: 100vw;
  font-family: 'Raleway', sans-serif;
}

/*Sets font sizes, weights and hover behavious for all globally used elements*/
a{
  text-decoration: none;
  color: black;
}

.nav:hover{
  color: #0065fc;
}

.bold-text{
  font-weight: 700;
}

.normal-text{
  font-weight: 400;
}

.title-text{
  font-size: 14pt;
}

.large-text{
  font-size: 12pt;
}
.medium-text{
  font-size: 10pt;
}

.grey-background{
  background-color: #f2f2f2;
  }

.white-background{
  background-color: #ffffff;
}

.indent{ /*Sets an indentation*/
  margin-left:10px;
}

.phoneimage{/*Styles the logo used for phone displays*/
  display: flex;
  justify-content: center;
  height: 50px;
  width: auto;
  max-width: 100px;
  margin-bottom: 30px;
}

.blue{
  color: #0065fc;
}
  
.grey{
  color: #f2f2f2;
}

.deskimage{
  height: 40px;
  width: auto;
}

.submit{
  border-radius: 0px 15px 15px 0px;
}

/* Mobile Styles
Sets all parameters used globally, as well as those specific to only mobile, when the width reaches higher
than or equal to 768 pixels, the tablet and desktop styles will overwrite some of these
*/

.mob-margin{ /*margins set for mobile classes needing this property*/
  margin-left: 20px;
  margin-right: 20px;
}

header{ /*Default properties for the header, displaying the logo and the nav links in a column as a flexbox*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
}

.no-display-mobile{ /*Hides the elements only used for desktop and tablet*/
  display: none;
}
  
.search form { /*IStyles the search form, this will remain unchanged*/
  display: flex;
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  display: inline-flex;
  height: 100%;
}

.text-box{/*Adds a border to the top and bottom of the text-box in the search element*/
  border-top:3px solid #f2f2f2;
  border-bottom:3px solid #f2f2f2;
  border-left:none;
  border-right: none;
}

.nav{ /*Styles the nav bar for mobile display*/
  display:flex;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  min-width: 50vw;
  padding: 10px;
}

nav { /*Arranges the nav items in a row and makes a margin above them*/
  display:flex;
  margin-bottom: 30px;
}

nav a:hover { /*When the navs are hovered over, a border is displayed underneath, this will
  chanfe for mobile and tablet styles*/
  border-bottom: 3px solid #0065fc;      
}

.submit, .search-icon{ /*Styles the icons used for the search function, one for mobile and the
  other for tablet and deskop*/
  background-color: #0065fc;
  border: none;
  color: #f2f2f2;
  padding: 15px;
}

.search-icon{ /*Moves the seearch icon so it joins the textbox and adds a border raduis*/
  margin-left: -10px;;
  border-radius: 15px 15px 15px 15px;
}
  
.geo{ /*Styles the geo tag and arranges it centrally*/
  padding:15px;
  font-size: large;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  height: 50px;
  width: 50px;
  margin: auto;
}

.filter{ /*Arranges the items in the filter div*/
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.filt-decor{ /*Styles the filters*/
  display: inline-flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 5px;
}

.label{ /*Styles the labels for the filters*/
  border-radius: 100px;
  padding: 10px;
  padding-left: 50px;
  margin-left: -40px;
  border: 3px solid #f2f2f2;
}
.button .icon{ /*Styles the icons for the search function and arranges them centrally*/
  color: #0065fc;
  margin: auto;
  border-radius: 100px;
  background-color: #DEEBFF;
  font-size: large;
  padding: 10px;
  border: 3px solid #DEEBFF;
  height: 45px;
  width: 45px;
  text-align: center;
  z-index: 1;
}
   
.button:hover .icon{ /*Changes the icons border when the filter is hovered*/
  border: 3px solid #0065fc;
}
  
.button:hover .label{ /*Changes the background colour and border colour of the label when the filter is hovered*/
  background-color: #DEEBFF;
  border: 3px solid #0065fc;
}

.big-container{ /*Sets the sryling for the accommodation and popular container 
  and ensures that the default for mobile and tablets is that the most popular appears first*/
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.accom-container, .act-container{  /*Styles the common elements for mobile for the activities and accommodation sections for mobile*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  width: 100%;
  padding:20px;
}

.accom-container{ /*Sets the background colour for mobile displays for the accommodations section*/
  background-color: #ffffff;
}

.popular-container{  /*Styles the most popular section for mobile*/
  padding:20px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap:15px;
  padding-bottom: 25px;
}

.row-container{ /*Styles and aligns the cards in the accommodation section*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1px;
  gap:10px;
  justify-content: space-between;
}

.card-style{ /*Styles the cards for the 3 sections*/
  display: flex;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.3);
  width:  90vw;
}

.popular{ /*Styles the cards for the popular section for mobile*/
  flex-direction: row;
  width:100%;
  height: 100%;
}

.popular img{ /* Styles the images  for the popular section*/
  border-radius: 20px 0px 0px 20px;
  height: 120px;
  width: 120px;
}

.accommodation ,.card{ /*Displays the accommodation and activities cards in a column for mobile*/
  flex-direction: column;
}

.accommodation, .popular{ /*Pads the cards for accommodation and popular sections*/
  padding: 2px;
}

.accommodation img, .card img{/*Styles the images for the accommodation and activities sections for mobile*/
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.container{ /*Styles the white text and star areas for the acccomodation and popular sections*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:5px;
}

.container .medium-text, .container .bold-text{ /*Styles the text in the accommodation and popular sections*/
  display: flex;
  width:100%;
  margin: 0 auto;
  flex-grow: 1;
  padding: 2px;
  align-items: center;
}
 
.footer{ /*Styles and arranges the footer*/
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 5%;
}
 
.information{ /*Sets the alignment properties for the information bulletin*/
  display: flex;
  height:50px;
  align-items: center;
  gap: 5px;
}

.information .icon{ /*Styles the information icon*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: white;
  border: 3px solid #f2f2f2;
  color: #0065fc;
  height:25px;
  width:25px;
}

.title{ /*Sets the layout for the titles in the three card sections*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
}

.trending{ /*Draws a border around the trending icon*/
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

.wrapper{ /*Sets the alignment properties for the  text container for the footer in mobile */
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 1080px;
}

.col{ /*Arranges the items iinto columns, evenly spaced,
  used in the activities section and the footer*/
  flex: 1;
  display: flex;
  flex-direction: column;
}


/*Tablet styles, overwrites properties declared previously when the screen width 
becomes larger than or equal to 768 pixels, some of these properties will be 
overridden when the desktop styles are implemented
*/
@media screen and (min-width: 768px){

  header{ /*Rearranges the header from a column to a row and changes the spacing*/
    flex-direction: row;
    justify-content: space-between;
  }

  main{ /*Changes the main section of the page to the correct sizes
    for the desktop and tablet styles*/
    margin: 0 auto;
    width:95%;
    max-width: 1080px;
  }

  .no-display-desktop{/*Hides any items not needed for desktop and tablet styles*/
    display: none;
  }

  .mob-margin{ /*Removes the margins set for the mobile styles*/
    margin-left: 0px;
    margin-right: 0px;
  }

  .submit, .deskimage{ /*Shows the properies hidden in the mobile styles 
    needed for the desktop and tablet styles*/
    display: flex;
  }

  .nav{ /*Reverses some of the mobile parameters and sets new ones for the 
    nab items*/
    padding: 20px;
    padding-top: 40px;
    min-width: 0px;
    border-bottom: none;
    border-top: 3px solid #f2f2f2;
  }

  .nav:hover{ /*Changes the blue line from underneath the link to over on hover in
    in the nav bar*/
    border-bottom: none;
    border-top: 3px solid #0065fc;
    padding-top:40px;
  }

  .big-container{ /*Changes the colour of the container for the accommodation and popular
    sections and adds a space between the two sections*/
    gap:20px;
    background-color: white;
  }

  .accommodation{ /*Sets desktop and tablet properties for the accommodation cards */
    justify-content: space-between;
    width: 200px;
    height: 160px;
    display: flex;
  }

  .accommodation img{ /*Sets the image properties for the accommodation cards*/
    object-fit: cover;
    height:90px;
    width:100%;
    border-radius: 20px 20px 0px 0px;
  }

  .act-container{ /*Sets the desktop and tablet styles for the sctivities section*/
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding:0px;
    gap:10px;
    width:100%;
  }

  .footer{ /*Overwrites and sets properties to the footer for deskktop and table styles*/
    padding:20px;
    display: flex;
  }

  .card{ /*Changes the width of the activities cards for desktop and tablets
    to fit its container*/
    width:100%;
  }

  .card img{ /*Resises the activity images for deskptop and tablet*/
    object-fit: cover;
    width:100%;
    border-radius: 20px 20px 0px 0px;
  }

  /*The following properties set the varying heights for the cards in the activities section
  for desktop and tablet styles*/
  .biggest-card img{ 
    height:340px;
  }

  .big-card img{
    height:180px;
  }

  .med-card img{
    height:135px;
  }

  .small-card img{
    height:90px;
  }
  
  /*Changes the container for the text in the footer to display in a row*/
  .wrapper{
    flex-direction: row;
    width:100%;
    max-width: 1080px;
  }
 
}

/* Desktop Styles - sets properties when the screen is at least 992 pixels wide*/
@media only screen and (min-width: 992px) 
  {
  .big-container{ /*Changes the container for the accommodation and popular
    sections into a row from a reverse column, displaying the items in the correct order*/
    flex-direction: row;
  }

  .accom-container{ /*Changes the properties for the accommodation section when on 
    a desktop */
    flex-wrap: wrap;
    height: 100%;
    background-color: #f2f2f2;
    width:100%;
    flex: 2;
  }

  .popular-container{ /*Changes the neccesary properties for the popular section 
    for desktop*/
    height: fit-content;
    width:100%;
  }
  .card-style:hover{ /*Makes the cards slightly bigger on hover*/
    transform: scale(1.1);
  }
}



